<style type="text/css">h3 {
  font-family: 'Times New Roman', Times, serif;
  /* Гарнитура текста */
  font-size: 150%;
  /* Размер шрифта в процентах */

}

p {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 14pt;
  /* Размер шрифта в пунктах */
}

.block1 {
  width: 100%;
  background: #ccc;
  padding: 50px;
  padding-right: 50px;
  border: solid 0px white;
  float: left;
}

.block_logo {
  width: 20%;
  background: whitesmoke;

  border: 0px white;

}

.block_logo1 {
  width: 100%;
  background-color: lightgray;
  margin-left: 20%;

}

.layer1 {
  background-color: white;
  /* Цвет фона */
  width: 60%;
  margin-left: 20px;
  padding: 10px;
}

.layer2 {
  margin-left: 20px;
  /* Отступ слева */
  background-color: rgba(204, 204, 204, 0.74);
  /* Цвет фона */
  padding: 10px;
  /* Поля вокруг текста */
  width: 1180px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.header {
  background-color: #cfcfcf;
  margin-left: 20px;
  width: 60%;
}

.gr {
  background-color: #cfcfcf;
}

.logo {
  background-color: #fff;
  display: inline-block;
  width: 153px;
  height: 80px;

}

.main {
  background-color: yellow;
}

P.fig {
  text-align: center;
  /* Выравнивание по центру */
}

</style>